/* LIGHT

text: #160208
background: #fefbfb
primary: #ce275f
secondary: #ffdbe1
accent: #ff3d51

DARK

text: #fde8ee
background: #040101
primary: #d83169
secondary: #240006
accent: #c20013 */

html, body {
    margin: 0;
}

body {
    font-family: "Aptos", sans-serif;
}

#gridBG {
    width: 100%;
    height: 50em;
    background-color: black;
    background-image:
        linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.75) 50%,
            rgba(0, 0, 0, 1) 100%),
        repeating-linear-gradient(to right,
            white,
            white 1px,
            transparent 1px,
            transparent 5%),
        repeating-linear-gradient(to bottom,
            white,
            white 1px,
            transparent 1px,
            transparent 5%);
    background-size: 100% 100%, 50% 50%, 50% 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#gridBG h1 {
    font-size: 4em;
    color: white;
    margin-bottom: 0em;
}

#gridBG p {
    font-size: 1.5em;
    color: white;
    margin-top: 0;
}

#mainContent {

}